<div class="container p-4">
  <div class="text-dark text-center p-4">
    <h3>Bienvenid@ {{user.fullname}}</h3>
    <!--<h4>Usuario: {{user.username}}</h4>-->
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto" style="margin-top: 1rem;">
      <div class="card text-center">
        <div class="card-body">
          <h4>Gestión Ediciones</h4>
          <div class="card-body">
            <a href="/links/publication/{{user.id}}" class="btn btn-primary m-4">
              Nueva edición
            </a>
            <a href="/links/archives/{{user.id}}" class="btn btn-primary m-4">
              Ver ediciones
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-6 mx-auto" style="margin-top: 1rem;">
      <div class="card text-center">
        <div class="card-body">
          <h4>Gestión Artículos</h4>
          <div class="card-body">
            <a href="/links/add/{{user.id}}" class="btn btn-primary m-4">
              Nuevo artículo
            </a>
            <a href="/links/{{user.id}}" class="btn btn-primary m-4">
              Ver artículos
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-6 mx-auto" style="margin-top: 1rem;">
      <div class="card text-center">
        <div class="card-body">
          <h4>Gestión Usuarios</h4>
          <div class="card-body">
            <a href="/links/listusers/{{user.id}}" class="btn btn-primary btn-lg m-4">
              Listar
            </a>
            <a href="/links/adduser/{{user.id}}" class="btn btn-primary btn-lg m-4">
              Crear
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <footer>
    <p>Politécnico Colombiano Jaime Isaza Cadavid<br>
    Revista Politécnica - 2020 <br />
    Contacto: <a href="mailto:rpolitecnica@elpoli.edu.co">rpolitecnica@elpoli.edu.co</a></p>
  </footer>
</div>