<div class="container p-4">
  <div class="text-dark text-center p-4">
    <h3>EDICIONES</h3>
  </div>
  <div class="card text-center h-100">
    <a href="/profile">Volver</a>
  </div>
  <br />
  <div class="row">
    {{#each links}}
      <div class="col-sm-4 col-md-6 col-lg-4">
        <div class="card text-center h-100">
          <div class="card-body">
            <h5>
              <a href="/links/publicacion/{{idPublica}}">Año {{anyo}} - Volumen {{volumen}} - Numero {{numero}}</a>
            </h5>
            <p>Total Artículos: {{total}} <br />
            {{#if username}}
              Creada por: {{username}}
            {{/if}}
            </p>
            <a href="/links/editEdicion/{{idPublica}}" class="btn btn-secondary">Editar</a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No hay ediciones creadas</p>
          {{#if tipoUser}}
            <a href="/profile">Home</a>
          {{else}}
            <a href="/links/publication/{{idUsuario}}">Crear edición</a>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div>
  <footer>
    <p>Politécnico Colombiano Jaime Isaza Cadavid<br>
    Revista Politécnica - 2020 <br />
    Contacto: <a href="mailto:rpolitecnica@elpoli.edu.co">rpolitecnica@elpoli.edu.co</a></p>
  </footer>
</div>