<div class="container p-4">
  <div class="text-dark text-center p-4">
    <h3>ARTÍCULOS</h3>
  </div>
  <div class="card text-center h-100">
    <a href="/links/archives/{{idUsuario}}">Volver</a>
  </div>
  <br />
  <div class="row">
    {{#each links}}
      <div class="col-sm-4 col-md-6 col-lg-4">
        <div class="card text-center h-100">
          <div class="card-body">
            <h5 class="card-title text-primary">
              <a href="/visualarticle/{{idArtic}}" target="_blank">{{titulo}}</a>
            </h5>
            <p>Pags: {{pagInicial}} - {{pagFinal}}</p>
            <p>Autores: <br />{{autores}}</p>
            <a href="/descargarxml/{{idArtic}}">Descargar XML</a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No hay artículos creados</p>
          {{#if tipoUser}}
            <!--<a href="/links/archives/{{idUsuario}}">Volver</a>-->
          {{else}}
            <a href="/links/add/{{idUsuario}}">Crear artículo</a>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div>
  <footer>
    <p>Politécnico Colombiano Jaime Isaza Cadavid<br>
    Revista Politécnica - 2020 <br />
    Contacto: <a href="mailto:rpolitecnica@elpoli.edu.co">rpolitecnica@elpoli.edu.co</a></p>
  </footer>
</div>