<div class="container p-4">
  <div class="text-dark text-center p-4">
    <h3>ARTÍCULOS</h3>
  </div>
  <div class="card text-center h-100">
    <a href="/profile">Volver</a>
  </div>
  <br />
  <div class="row">
    {{#each links}}
      <div class="col-sm-3 col-md-6 col-lg-4"> <!--Numero de columnas por pagina-->
        <div class="card text-center h-100">
          <div class="card-body">
            <a href="/visualarticle/{{idArtic}}" target="_blank">
              <h5 class="card-title">
                {{titulo}}
              </h5>
            </a>
            <!--<p class="m-2">{{description}}</p>-->
            <!--<p>Created {{timeago created_articulo}}</p>-->
            <p>Edición: Año {{anyo}} - Volumen {{volumen}} - Numero {{numero}} <br />
            {{#if username}}
              Creado por: {{username}}
            {{/if}}
            </p>
            <a href="/links/delete/{{idArtic}}" class="btn btn-danger">Borrar</a>
            <a href="/links/edit/{{idArtic}}" class="btn btn-secondary">Editar</a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No hay artículos creados</p>
          {{#if tipoUser}}
            <a href="/profile">Home</a>
          {{else}}
            <a href="/links/add/{{idUsuario}}">Crear artículo</a>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div>
  <footer>
    <p>Politécnico Colombiano Jaime Isaza Cadavid<br>
    Revista Politécnica - 2020 <br />
    Contacto: <a href="mailto:rpolitecnica@elpoli.edu.co">rpolitecnica@elpoli.edu.co</a></p>
  </footer>
</div>